<!DOCTYPE html>

<html>
<head>
    @Scripts.Render("~/scripts/jquery-1.7.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    <meta charset="utf-8">
    <title>Amdm.ru</title>
</head>
<body>
    @RenderBody()
</body>
</html>
