@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




        <div>
            @using (Ajax.BeginForm("ParseAndSaveHandler", new AjaxOptions { UpdateTargetId = "results" }))
            {
                <input type="submit" value="Считать и пропарсить данные" />
            }
            @using (Ajax.BeginForm("ShowAuthorsInformationPartial", new AjaxOptions { UpdateTargetId = "results" }))
            {
                <input type="submit" value="Подгрузить данные" />
            }
            @using (Ajax.BeginForm("CleanDbRequest", new AjaxOptions { UpdateTargetId = "results" }))
            {
                <input type="submit" value="Очистить таблицу" />
            }
            <div id="results"></div>
        </div>
