@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h2>@ViewBag.Name</h2><br/><br /><br />

        <text>@ViewBag.Lyric</text>
    </div>
</body>
</html>